#contenedor-principal{
	background-image: url(dist/iconos/lluvia.jpg);
	background-position: center;
	background-size: cover;
	height:100vh;
	#caja{
		width: 25%;
		margin: 0 auto;
		height: 50%;
		background-color: white;
		border: solid thin silver;
	}
}
